In [1]:
#### Select Distinct Values of a Variable ####

# Importing necessary libraries
import pandas as pd

# Load the CSV file into a DataFrame
suppliers_df = pd.read_csv('Suppliers.csv')

# Get unique/distinct values from the 'Country' column
unique_countries = suppliers_df['Country'].unique()

# Set the option to display all rows (change 1000 to your desired number)
pd.set_option('display.max_rows', 1000)

# Calculate the number of unique observations
num_unique_countries = len(unique_countries)

# Print the number of unique observations
print(f"Number of unique observations: {num_unique_countries}")

# Convert the array of unique countries back into a DataFrame for display
unique_countries_df = pd.DataFrame(unique_countries, columns=['Country'])

# Display the DataFrame
display(unique_countries_df.style.hide(axis="index"))

Number of unique observations: 16