In [1]:
#### Filter Text Variables ####

# Importing necessary libraries
import pandas as pd

# Load the CSV file into a DataFrame
suppliers_df = pd.read_csv('Suppliers.csv')

# Filter the DataFrame for rows where 'Country' is equal to "France"
suppliers_df = suppliers_df[suppliers_df['Country'] == 'France']

# Calculate the number of observations
num_observations = len(suppliers_df)

# Print the number of observations
print(f"Number of observations in France: {num_observations}")

# Display the resulting DataFrame with all columns
display(suppliers_df.style.hide(axis = "index"))

# Add a few blank lines
print("\n\n")

# Load the CSV file into a DataFrame
suppliers_df2 = pd.read_csv('Suppliers.csv')

# Filter the DataFrame for rows where 'Country' is equal to "USA"
suppliers_df2 = suppliers_df2[suppliers_df2['Country'] == 'USA']

# Calculate the number of observations
num_observations = len(suppliers_df2)

# Print the number of observations
print(f"Number of observations in the USA: {num_observations}")

# Display the resulting DataFrame with all columns
display(suppliers_df2.style.hide(axis = "index"))

Number of observations in France: 3

Number of observations in the USA: 4